#propth{
    width: 200px;
    height: 200px;
}
#pthdiv{
    text-align: center;
}
.input-group-append,.input-group-append .btn{
    width: 130px;
}
.input-group{
    margin: 10px 0px;
}
.country_sel{
    width: 273px;
    margin-left: 10px;
}
.container {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  font-size: 16px;
  padding: 16px 32px;
}
#spdiv{
    position: absolute;
    left: 50%;
    top: 50%;
}
@media (max-width: 915px){
    #dob_yar_sel{
        width: 110px;
    }
    #dob_mon_sel, #dob_day_sel{
        width: 100px;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}