#ctn{
    margin: 20%;
    margin-bottom: 0px;
}
#spvc,#email_validation{
    display: none;
}
@media (max-width: 375px){
    #div_home_button{
        width: 70px;
        text-align: center;
        margin: auto;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}