.pdpth{
    width: 50px;
    height: 50px;
}
.tbpthcol{
    width: 50px;
}
.tbnamecellp{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.tbnamecell{
    max-height: 50px;
}
.tbnamecol{
    width: 25%;
    cursor: pointer;
    color: black;
    
}
.tbnamecol:hover{
    color: gray;
}
.tbpricecol{
    width: 18%;
}
.tbqtycol{
    width: 170px;
    text-align: center;
}
.ipqty{
    width: 70px;
    text-align: center;
}
.qtycpm{
    display: inline-block;
}
.qtystock{
    font-size: 70%;
}
.tbtpricecol{
    width: 20%;
}
#list{
    height: 113%;
    overflow: scroll;
}
.spmdseldiv:hover{
    background-color: #ebebeb;
}
.spmdsel{
    border: gray solid 1px;
}
.spmdsel_span{
    font-size: 80%;
    margin-left: 20px;
}
.selop{
    border: gray solid 1px;
    width: 300px;
    text-align: center;
}
.selop:hover{
    background-color: #ebebeb;
}
.error{
    outline: red solid 1px;
}
#plld{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
    text-align: center;
}
#sppyld{
    margin-top: 30%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}